.App {
  width: 100%;
}

div .form-control:focus {
    box-shadow: none;
}


.user-signed {
  left: 10px;
  top: 6px;
}

@keyframes login-bg {
    0% {
        /*filter: blur(3px);*/
        filter: blur(4px) hue-rotate(45deg);
    }   
    25% {
        background-position: 0% 0%;
        /*filter: blur(1px);*/
    }
    50% {
        /*background-position: left bottom;*/
        /*background-position: 0% 50%;*/
        /*filter: blur(3px);*/
    }  
    75% {
        /*filter: blur(0px);*/
        background-position: 100% 100%;
        filter: blur(4px) hue-rotate(225deg);
    }   
    100% {
        /*background-position: 50% 50%;*/
        /*filter: blur(1px);*/
    }
}

.login-bg {
    animation: login-bg linear infinite 90s;
    /*filter: hue-rotate(45deg);*/
    filter: blur(4px);
    background-color: #fff;
    background-image: url('./google-maps-1.webp');
    /*background-position: center;*/
    background-position: 100% 0%;
    background-repeat: no-repeat;
    /*background-size:cover;*/
    position: absolute;
    z-index: -1;
}

.custom-marker {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #aaa;
    /*pointer-events: none;*/
    position: 'absolute';
    z-index: 1;
    transform: translate(-50%, -50%);
    user-select: none;
    /* top: 50%;
    left: 50%; */
}

.place-marker {
    border: 3px solid #f00;
}

.my-marker {
    border: 3px solid #00f;
}
